{% extends "base.html" %}
{% load static %}

{% block contenido %}
      <!-- end header -->
     
      <!-- section --> 
<div class="About-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="aboutheading">
               <h3><span class="orange_color">Sobre Nosotros</span></h3>
            </div>
         </div>
      </div>
   </div>
</div>



      <div class="section layout_padding">
         <div class="container">
           
            <div class="row">
               <div class="col-md-6">
                  <img src="static/images/fevicon.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Mi nombre es Lazaro elias </h4>
                     <h5>Intregante del proyecto de Post</h5>
                     <p>Estuvo muy bueno el aprendisaje con Python y django con Mysql</p>
                  </div>
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-6">
                  <img src="static/images/favicon.ico" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Mi nombre es</h4>
                     <h5>soy</h5>
                     <p>descripción.</p>
                  </div>
               </div>
            </div>

            <div class="row margin_top_30">
               <div class="col-md-6">
                  <img src="static/images/footer_blog.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Mi nombre es</h4>
                     <h5>soy</h5>
                     <p>descripción.</p>
                  </div>
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-6">
                  <img src="static/images/user-default.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>#</h4>
                     <h5>#</h5>
                     <p>#</p>
                  </div>
               </div>
            </div>


            <div class="row margin_top_30">
               <div class="col-md-12">
                  <div class="button_section full center margin_top_30">
                     <a style="margin:0;" href="{% url 'index' %}">Ir a Inicio</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      {% endblock contenido %}
      <!-- footer -->
      