{% extends "base.html" %}
{% load static %}


{% block contenido %}
<title>{% block title %} contacto {% endblock title %}</title>

<div class="center my-5 ">
   <div class="center my-5 ">
      <div class="footer_links my-5 ">
         
         <form method= "POST">
            <fieldset>
               
                  <h1>Formulario de contacto</h1>
                  <br>
                  <table>
                  {% csrf_token %}
                  {{ form }}
                  </table> 
                  <div class="center">
                     <button class="reply_bt">Enviar</button>
                  </div>
            
            </fieldset>
         </form>
      </div>
   </div>
</div>


{% endblock contenido %}