{% extends "base.html" %}
{% load static %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block contenido %}


<div class="center">
    <div class="footer_links">
       
       <form method= "POST">
            <fieldset>
             
                <h1 class="h1">Formulario de contacto</h1>
                <br>
                <div class="messages">
                    {% for message in messages %}
                    <table{% if message.tags %} class="{{ message.tags}}"{%  endif %}>{{ message }}</table>
                    {% endfor %}
                </div>
                <br>
                {% csrf_token %}
                
                    <table> {{ form }} </table>
                
                <br><br>
                <button type="submit" class="btn btn-success btn-lg px-3">Registrar</button>
          
          
            </fieldset>
        </form>
    </div>
 </div>


 {% endblock contenido %}