{% extends 'base.html' %}
{% block contenido %}


<center>

<div class='main-container' style="text-align: center; margin-top: 12%; margin-bottom: 12%;"></div>
    <h1>Agregar Nueva Categoría</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success" type="submit" value="Agregar">
        <a class="btn btn-success" href="{% url 'apps.posts:lista_categoria' %}">Listar las Categorias</a>
    </form>
        
    <!--<div class="container-fluid" style="margin-top: 300px;">
        <a class="btn btn-success" href="{% url 'apps.posts:lista_categoria' %}">Listar las Categorias</a>
    </div>-->

</div>
</center>
{% endblock %}
